/* .root {
  margin: 0px;
} */

body {
  display: flex;
  margin: 0px;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  color: black;
}

a {
  font-weight: 500;
  color: grey;
  text-decoration: inherit;
}
a:hover {
  color: rgb(169, 158, 158);
}
.header {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: black;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  text-align: left;
  font-size: x-large;
}

.navigation {
  margin: 2rem;
  font-size: small;
}
.dog {
  width: 30rem;
  height: 30rem;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-width: 90vw;
  overflow: visible;
}
.carouselDog {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}
.gallery {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  margin-block-start: 0px;
}
.description {
  margin: 2rem;
}

.grid-item {
  list-style-type: none;
  max-width: 100%;
  height: auto;
}
.contactLink {
  text-decoration: underline;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
