body {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.footer {
  position: fixed;
  margin: 2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  color: black;
}

a {
  font-weight: 500;
  color: grey;
  text-decoration: inherit;
}
a:hover {
  color: rgb(169, 158, 158);
}

.title {
  color: black;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  text-align: left;
  font-size: x-large;
}

.navigation {
  font-size: small;
}
.dog {
  width: 400px;
  height: 400px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.grid-item {
  list-style-type: none;
  max-width: 100%;
  height: auto;
}
.contactLink {
  text-decoration: underline;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
